# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\LDY1065\3118005421\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
